<div id="zip_members" data-hook="member">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:zipcode) %></legend>

    <%= zone_form.field_container :zipcodes do %>
      <%= zone_form.label :zipcodes,Spree.t(:zipcode) %><br>
      <%= zone_form.hidden_field :zipcodes, value: '', id: 'hidden_zone_zipcodes' %>
      <%= zone_form.text_field :zipcodes, class: "select2-taggable fullwidth" %>
    <% end %>
  </fieldset>
</div>
